<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127078231946-d55hvo6qu31gkfh0shl1jed9k8pj5clr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127078231946-d55hvo6qu31gkfh0shl1jed9k8pj5clr</string>
	<key>API_KEY</key>
	<string>AIzaSyAtWQp87Gs76aTzMW97X9CSHjOZe5k4FSA</string>
	<key>GCM_SENDER_ID</key>
	<string>127078231946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app-dev.Debt-Collector</string>
	<key>PROJECT_ID</key>
	<string>debt-collector-afe41</string>
	<key>STORAGE_BUCKET</key>
	<string>debt-collector-afe41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127078231946:ios:602d9d3019ce58c9b8a273</string>
</dict>
</plist>